.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: $box-shadow-light;
  transition: transform 0.2s;
  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
