*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem = 10px

  @include respond(phone) {
    font-size: 50%;
  }

  @include respond(tab-port) {
    font-size: 60%;
  }

  @include respond(tab-land) {
    font-size: 70%;
  }

  @include respond(lg-desktop) {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
}
