// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

// SEARCH
.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-xsmall) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-size: 1.4rem;
    font-family: inherit;
    color: inherit;
    padding: 0.7rem 2rem;
    width: 90%;
    margin-right: -3.25rem;
    border: none;
    background-color: var(--color-grey-light-2);
    border-radius: 100px;
    transition: all 0.2s;

    &:focus {
      width: 100%;
      background-color: var(--color-grey-light-3);
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

// USER
.user-nav {
  display: flex;

  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }
  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    position: absolute;
    top: 2rem;
    left: 3.5rem;
    font-size: 0.8rem;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    color: #fff;
    background-color: var(--color-primary);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user-photo {
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 2rem;
  }

  &__user {
    position: relative;
  }

  &__state-list {
    width: 100%;
    list-style: none;
    position: absolute;
    top: 6.75rem;

    padding: 1rem;
    border: none;
    border-radius: 3px;

    box-shadow: var(--shadow-dark);
    background-color: #fff;
    z-index: 10;
    opacity: 0;
  }

  &__state-item {
    font-size: 1.4rem;
  }
  &__user:hover &__state-list {
    opacity: 1;
  }
}
