.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {
  display: flex;

  &__heading {
  }

  &__stars {
    margin-right: auto;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
  }

  &__btn-inline {
  }

  &__rating {
  }

  &__rating-count {
  }

  &__rating-average {
  }
}
