.side-nav {
  margin-top: 4rem;
  list-style: none;
  font-size: 1.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    margin: 0;
  }
  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    @media only screen and (max-width: $bp-medium) {
      flex: 1;
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-primary);
    width: 3px;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:visited,
  &__link:link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-light-1);
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
      padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;

    @media only screen and (max-width: $bp-small) {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0;
      margin-bottom: 0.4rem;
    }
  }
}

// LEGAL TEXT
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  padding: 2.5rem;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}
